<h2><%= @space.name %></h2>

<section><%= @space.description %></section>

<form action="/requests" method="post">
    <input type="hidden" name="space_id" value="<%= @space.id %>">
    <input type="date" name="booking_date">
    <input class="btn btn-primary" type="submit" value="Request to book">
</form>
