<h2>Sign up</h2>

<form action="/user" method="post">
    <input type="text" name="email">
    <input type="password" name="password">
    <input type="submit" value="Sign up!">
</form>

<a name="log_in" href="/sessions/new">Log in</a> 
