<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Makers BnB</title>
  <meta name="description" content="So much better than Air BnB">
  <meta name="author" content="a bunch of people">
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
</head>

<body class="container">
  <div class="content ">

    <header class="row">
      <div class="col">
        <h1>Makers B&amp;B</h1>
      </div>
      <menu class="col">
        <ul>
          <li>
            <a href="/requests">Requests</a>
          </li>
          <li>
            <a href="/spaces">Spaces</a>
          </li>
          <li>
            <a href="/logout">Log out</a>
          </li>
          <li>
            <a name="log_in" href="/sessions/new">Log in</a>
          </li>
          <li>
            <a href="/">Sign up</a>
          </li>
        </ul>
      </menu>
    </header>
    <main class="row">
      <%= yield %>
    </main>
  </div>
  <footer class="site-footer row">
  </footer>
</body>
</html>

