<% unless @user.nil? %>
<p>New account created with email: <%= @user.email %></p>
<% end %>


<ul>
<% @spaces.each do |space| %>
  <li>
    Name: <%= space.name %><br>
    Description: <%= space.description %><br>
    Price Per Night: £<%= space.price %>
  </li>
<% end %>
</ul>
