h1, h2, h3, h5 {
  font-family: 'Alfa Slab One', cursive;
}

html {
  min-height: 100%;
}

body {
  background-image: url(../img/happy-family.webp);
  background-size: cover;
}

header {
  margin: 20px 0;
  width: 100%;
}

menu  {
  margin: 0;
  padding: 10px;
}

menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

menu li {
  float: right;
  margin-left: 20px;
}
.card {
  background-color: rgba(255 ,255 ,255 , .92);
}

.form {
  padding: 0;
  width: 30rem;
}

#available-spaces ul {
  padding: 0;
}
#available-spaces li {
  list-style: none;
}
.space {
  background-color: rgba(255 ,255 ,255 , .92);
  margin-bottom: 20px;
}
.space-details {
  margin-bottom: 10px;
}

.space.card, .request.card {
  margin-bottom: 20px;
}

#availability-filter-dates {
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 5px;
}
#availability-filter-dates input {
  margin-right: 5px;
}
