<div id="new-listing-form" class="card col-6 ml-md-auto mr-md-auto form">
  <div class="card-body">
    <h2>Add a listing!</h2>
    <form action="/spaces" method="post">
      <div class="form-group">
        <label for="name">Name of listing</label>
        <input type="text" class="form-control" id="name" name="name">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description"></textarea>
      </div>
      <div class="form-group">
        <label for="price">Price per night</label>
        <input type="number" class="form-control" id="price" name="price"></textarea>
      </div>
      <div class="form_group">
        <label for="start-date">Available from</label>
        <input type="date" class="form-control" id="start_date" name="start_date"></textarea>
      </div>
      <div class="form-group">
        <label for="end_date">Available until</label>
        <input type="date" class="form-control" id="end_date" name="end_date"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
